body {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 20px;
  background-color: #E6DAC8;
}

header {
  text-align: center;
  font-weight: bold;
  color: black;
  background-color: #d4c0aa;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

header h1 {
  font-size: 30px;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border: 1px solid black;
  border-left: 2px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: black;
  color: white;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #e9e0d8;
  color: white;
}

.present {
  background-color: #d4c0aa;
  color: white;
}

.future {
  background-color: #bb9b78;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: black;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
